*{margin: 0; padding: 0;    font-family: 微软雅黑;font-size: 14px; color:#000; }   
.clear{clear:both;}   
a{text-decoration: none;}
ul{list-style: none;}

/*header*/
#header{width:100%;border-bottom: 1px solid #ccc;background:#fff;position:fixed;z-index: 999}
#header_wrap{width:90% ;margin: 0 auto; padding-top: 20px; padding-bottom: 10px} 
#logo img{height: 20px; float: left;}
.nav li{float: left;margin-left: 100px; height: 30px; line-height: 30px}
.nav{float: right}
.nav li a{ font-size: 16px; }
.nav1{border-bottom: 1px solid #000000;}
.nav li:hover{border-bottom: 1px solid #000000;}
/*header*/


/*main*/
#main{padding-top: 90px; width: 80%;margin: 0 auto}
.main_top ul li{ float: left; width: 30%; padding-right: 30px }
.main_top ul li a{display: block;padding-bottom: 3px; border-bottom: 2px solid  #000000; line-height: 48px}
.main_top ul li a span:hover{color:red}
.span1{font-size: 48px; padding-right: 10px;}
.span2{font-size: 16px}

#main_wrap{padding-top: 40px;}
#main_wrap h2{ font-size: 18px; padding-bottom: 16px}
#main_wrap  div{ float: left; width: 30%; padding-right: 30px }
#main_wrap p{ font-size: 10px; color: #666;padding-top: 20px;padding-bottom: 4px}
#main_wrap span{font-size: 14px; color: #666; }
#main_wrap input{width: 260px;height: 30px;}
#main_wrap .put{background: #000000; border:none; width: 100px; height: 36px;margin-top: 40px; color: #fff;margin-left: 60px}
/*main*/



/*footer*/
#footer{margin-top:40px; width: 100%; }
.icon-angle-up{color: black; }
.icon-angle-up:hover{cursor: pointer;}


#flower{width: 90%;margin: 0 auto; border-bottom: 1px solid #ccc;border-top:1px solid #ccc;}
#flower a{font-size:16px; color:#6f6969 ;padding-top: 20px; padding-bottom: 20px; display: block;}
#flower a:hover{cursor: pointer; color:#000000 }

.nainiu{width: 90%;padding-top: 30px; margin: 0 auto}
.nainiu li{float: left; padding-right: 20px}
.nainiu li img{width: 50px;height: 50px;   }
.f1{padding-left: 300px}
#xuke {width: 90%;text-align: center;font-size:12px;color:#6f6969 ;  padding-top: 20px; padding-left: 30px}
/*footer*/