*{
	margin: 0;
	padding: 0;
	font-size:10px;
}
li{list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{display:block}





#header {padding-top: 32px}
#header h1{ padding-left: 38px; float: left;}
#header h1 img{width:226px; height:auto; padding-right: 10px}
.navbox{padding-top:70px}
.nav li{float:left; font-size: 10px; }
.nav li  a{ padding: 12px 35px 6px;
            color: #A60005;
            font-size: 1.6em;
            font-family: Arial,Helvetica,sans-serif;
            border: 1px solid #FFF;}
.nav li  a:hover{ cursor:pointer;
                  background:#5cc2d0; border:1px solid #d1e0e1; color:#fff;}




#banner img{
	width:100% ;
	height:auto; 
}




#student{
	width: 100%;
	background: #F1C40F;
	padding-top: 55px;


}




#student  header {
	width: 510px;
	margin: 0 auto;
	padding-top: 
}
#student  header h3{

	   font-size: 4em;
       color: #E84C3D;
       float: left;
}
#student  header .line{
     background: #BC860C ;
     height: 60px;
     width: 1px;
     float: left;

}
#student  header .linebox{
	padding: 0px 40px;
	float: left;
}
.txt1{
	color: #E84C3D;
	font-size: 2.4em;
}

.txt2{
	color: #fff;
	font-size: 2.4em;
}




#bigpic{
	width: 638px;
	height: 374px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 30px;
	

}
#bigpic ul  img{width: 638px;
	height: 374px} 

#bigpic ul{ width: 5000px}
#bigpic  li{ float: left;width: 638px;
	height: 374px;}	
#nav{.navon;
border-bottom: 100px}
#nav .navon{background:pink;}

#nav li{width: 20px;
height: 20px;
float: left;
background: red;
margin-right: 10px;
text-indent: -999px;
border-radius: 50%}
#nav ul{
	width: 130px;
	margin:0 auto;
}


















@media screen and (max-width:850px){
	
#header h1{ float:none; width:100%; margin:0 auto; padding-left:0; padding-top:20px; padding-bottom:10px;}
#header h1 img{ display:block; margin:0 auto;}
#header{ position:relative;}

#header .navbox{ float:none;width:100%; position:absolute; top:0;background-color:#e84c3d; padding-top:0px;}
#header ul{margin:0 auto; width:422px;}
#header ul a{background-color:#e84c3d; padding-left:10px; padding-right:10px; color:#FFF; line-height:28px; padding-top:0px; padding-bottom:0px; border:1px solid #e84c3d;  }

	
	}
@media screen and (max-width:822px){

#recruitment footer .wrap{width:260px;}
#recruitment footer .box{ float:none; margin-bottom:10px;}




}

@media screen and (max-width:702px){
#header h1 img{ width:150px; height:auto;}
#works header img{width:70%;}
#works footer .wrap{ width:100%;}
#works footer .imgtop{ width:70%; height:auto;}
#works footer .imgbottom{ width:70%; height:auto;}
#works footer img{ margin:7px;}


}
@media screen and (max-width:615px){
#header ul{ padding-left:0;}
#header ul a{font-size:1.2em;}
#header h1 img{ width:130px; height:auto;}
#header ul{width:362px;}

#student header{ width:100%;}
#student h3{ float:none; font-size:3em;}
#student .linebox{ display:none;}
#student  .txt1{margin-left:0px; font-size:2em;}
#student .txt2{padding-left:0px; font-size:2em;}

#partner footer .wrap .top{ width:100px;}
#partner footer .wrap .bottom{ width:100px;}
#partner footer .wrap .icon{ float:none;}

#contactus footer{ width:80%; margin:0 auto; padding-top:65px;}
#contactus footer .mapbox img{ width:275px; height:auto;}
#contactus footer .bottom_left{ float:none; margin:0 auto;}
#contactus footer .bottom_right{ float:none;margin:0 auto; width:100px; padding-left:0; padding-top:20px;}
#footer div{ width:100%;}
#footer p{ float:none;}


}

@media screen and (max-width:350px){
#header ul a{font-size:1.1em;padding:12px 5px 6px 5px; }
#header ul{width:272px;}


#student h3{font-size:2em;}
#student .txt1{font-size:1.2em;}
#student .txt2{font-size:1.2em;}	
#student  .btn{width:100px;}
#student  .btn ul li{ width:10px; height:10px;}

#contactus footer .mapbox img{ width:210px; height:auto;}
#contactus footer .bottom_left{ width:210px;}
#contactus footer .bottom_left .name{ float:none; width:200px;}
#contactus footer .bottom_left .mail{ float:none; width:200px; margin-top:5px;}
#contactus footer .bottom_left .message{width:200px;margin-top:5px;}
#contactus footer .bottom_left .sub{ float:none; display:block;margin:0 auto; margin-top:5px;}





}

